# ---------- output 规则 ----------
# 忽略 output 下所有第一层内容
/output/*

# 允许 output 目录本身被跟踪
!/output
!/output/.gitkeep

# 放行两个父目录（否则下面的子目录无法被重新包含）
!/output/trained_model_save
!/output/inference_results

# 重新忽略这两个父目录下的所有内容（为“只放行某个版本”做准备）
/output/trained_model_save/*
/output/inference_results/*


# ---------- datasets 规则 ----------
# 忽略 datasets 下所有第一层内容
/datasets/*

# 允许 datasets 目录本身被跟踪
!/datasets
!/datasets/.gitkeep

# 再全部放行（递归）
!/datasets/**
# ---------- data 规则 ----------
# 忽略 data 第一层
/data/*

# 放行 scripts 目录及全部内容
!/data/scripts
!/data/scripts/**

# 只忽略 data/logs 的内容，但保留目录（需要占位文件）
/data/logs/**
!/data/logs
!/data/logs/.gitkeep


# ---------- 其他 ----------
scripts/machine_learning_code/*.log
scripts/save_three_system
/logs/**
scripts/machine_learning_code/logs/*

